body {
	background: #000;
	cursor: default;
	margin: 0;
	padding: 0;
}

canvas {
	background: transparent;
	display: block;
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.loading {
	background: #000 url('../img/loading.jpg') center center no-repeat;
	background-size: cover;
}

.pointer {
	cursor: pointer;
}